.app-container {
  max-width: 1400px;
  margin: auto;
  padding: 0 1rem 0 1rem;
  margin-bottom: 2rem;
}

.title {
  padding-top: 2rem;
}

.cripto-container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  grid-gap: 1.25rem;
}